.product-container{
    display: flex;
    margin-left: 80px;
    margin-right: 10px;
    border-bottom: 1px solid gray;
    padding: 10px;
}
.product-description{
    margin-left: 20px;
}
.product-description h3{
    color: blue;
    font-weight: 300;
}
.main-btn{
   background-color: goldenrod; 
   width: 180px;
   height: 25px;
   border: 1px solid black;
   border-radius: 5px;
   cursor: pointer;
}